asgiref>=3.9.1
celery>=5.5.3
django-celery-beat>=2.6.0
cryptography>=45.0.5
django>=5.2.4
django-cors-headers>=4.7.0
djangorestframework>=3.16.0
djangorestframework-simplejwt>=5.5.0
email-validator>=2.2.0
pyjwt>=2.9.0
python-dotenv>=1.1.1
pytz>=2025.2
sqlparse>=0.5.3
requests
redis>=5.0
psycopg2-binary>=2.9
dj-database-url
groq